<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--&lt;!&ndash;导入属性配置&ndash;&gt;
    <properties resource="datasource.properties"></properties>
    <settings>
        &lt;!&ndash; Globally enables or disables any caches configured in any mapper under this configuration &ndash;&gt;
        <setting name="cacheEnabled" value="true"/>
        &lt;!&ndash; Sets the number of seconds the driver will wait for a response from the database &ndash;&gt;
        <setting name="defaultStatementTimeout" value="3000"/>
        &lt;!&ndash; Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn &ndash;&gt;
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        &lt;!&ndash; Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work &ndash;&gt;
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    &lt;!&ndash; Continue going here &ndash;&gt;
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            &lt;!&ndash; 配置数据库连接信息 &ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/DeptMapper"></mapper>
        <mapper resource="mappers/EmpMapper"></mapper>
        <mapper resource="mappers/DeptMapper1"></mapper>
        <mapper resource="mappers/EmpMapper1"></mapper>
        <mapper resource="mappers/DeptEmpMapper"></mapper>
        <mapper resource="mappers/DeviceMapper"></mapper>
    </mappers>-->
</configuration>